{% extends "main/base.html" %}
{% load static %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Таблица Задач </h4>
            <a href="{% url 'create_task' %}"  class="btn btn-primary">
              Добавить Задачу
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Задача
                    </th>
                    <th>
                      Автор
                    </th>
                    <th>
                      Описание
                    </th>
                    <th>
                      Приоритет
                    </th>
                    <th>
                      Статус
                    </th>
                    <th>
                      Дата создания
                    </th>
                    <th>
                      Исполнители
                    </th>
                    <th>
                      Комментарии
                    </th>
                    <th>
                      Действия
                    </th>
                  </tr>
                </thead>
                <tbody>

                {% for task in tasks %}
                  <tr>
                    <td>
                      {{ task.title }}
                    </td>
                    <td>
                      {{ task.author }}
                    </td>
                    <td>
                      {{ task.task }}
                    </td>
                    <td>
                      {{ task.importance }}
                    </td>
                    <td>
                      {{ task.status }}
                    </td>
                    <td>
                      {{ task.date_of_staging }}
                    </td>
                    <td>
                      {{ task.executor }}
                    </td>
                    <td>
                      {% for comment in comments %}
                        {% if task == comment.task %}
                          <div class="alert" style="background-color: rgb(157, 127, 255);"> {{ comment.body }}</div>
                        {% else %}

                        {% endif %}
                      {% empty %}
                        Коментариев в системе нет
                      {% endfor %}
                    </td>
                    <td>
                      <a class="btn btn-sm btn-primary" href="{% url 'edit_task' task_slug=task.slug %}">Открыть задачу</a>
                    </td>
                  </tr>
                {% empty %}
                  Нет записей
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
